# Deployment buildout
# ===================

[buildout]
parts =
    ${buildout:lxml-parts}
    ${buildout:haproxy-parts}
    ${buildout:varnish-parts}
    ${buildout:nginx-parts}
    ${buildout:runscript-parts}
    ${buildout:sites-parts}
    ${buildout:statusinfo-parts}
    supervisor

extends =
    packages.cfg
    buildout.d/lxml.cfg
    buildout.d/haproxy.cfg
    buildout.d/varnish.cfg
    vhosts/csp.cfg
    buildout.d/nginx.cfg
    buildout.d/runscript.cfg
    sites.cfg
    buildout.d/statusinfo.cfg
    sources.cfg
    secret.cfg

# Create local caches so we get self contained buildouts
#eggs-directory = /opt/buildout-cache/eggs
#download-cache = /opt/buildout-cache/downloads
#extends-cache = /opt/buildout-cache/extends

auto-checkout =

# Make sure buildout never attempts to update packages automatically for
# production use.
always-checkout = false


[settings]
hostname = z8.ade25.de
host_id = z8

[locations]
templates = ${buildout:directory}/vhosts
config = ${buildout:directory}/etc/vhosts


# Host names/IP addresses. See below for corresponding ports.
[hosts]
main            = 127.0.0.1
# The host that nginx proxies to
nginx-backend   = ${:varnish}
# The hostname/address that Varnish binds to
varnish         = localhost
# The hosts that are allowed to issue PURGE reuqests to Varnish
allow-purge     = localhost
# The IP address that Varnish proxies to (do not use a hostname)
varnish-backend = 127.0.0.1
# The hostname that HAProxy binds to
haproxy         = localhost
# Where to find the syslog deamon to log to
syslog          = localhost
# The hostname that memcached binds to
memcached       = localhost
# The hostname that supervisord binds to
supervisor      = localhost
# The public hostname used in virtual hosting, i.e. the public facing domain
public          = zope10.kreativkombinat.de



# Port corresponding to the hostnames above. Note that to bind to ports
# < 1024, you will need to run ./bin/supervisord as root!
[ports]
http            = 80
https           = 443
nginx-backend   = ${:varnish}
varnish         = 8100
varnish-backend = ${:haproxy}
haproxy         = 8200
haproxy-stats   = 8222
instance1       = 8001
instance2       = 8002
instance3       = 8003
instance4       = 8004
zeoserver       = 8300
instance-debug  = 8499
syslog          = 514
memcached       = 11211
database        = 3306
supervisor      = 9001

[users]
# Process owners for nginx, varnish, haproxy, memcached and Zope
nginx            = www
varnish          = www
haproxy          = www
zope-process     = www
memcached        = www

# System user accounts for Zope root admin, database access and Supervisor
zope-admin       = zope-admin
database         = zope
supervisor-admin = supervisor-admin

# Passwords for the accounts above
[passwords]
zope-admin       = secret
database         = secret
supervisor-admin = secret

# Database instances for SQLAlchemy and RelStorage
[databases]
optilux = optilux
zodb    = zodb

# How should varnish store its cache? Increase thesize, in megabytes, as required
[varnish-options]
storage = malloc,1024M
tuning = -p thread_pools=4

[limits]
# How many open files are allowed? This affects the number of concurrent
# connections. On some operating systems, this is set on startup per user
# as the ulimit
open-files = 1024
# Timeout of inactivity for Beaker sessions
session-timeout = 600

[urls]
# This URL is used in the nginx configuration to serve an error page when
# HAProxy detects no viable backend
fallback = /system-error


# Install supervisor, which runs on port 9001
# Run: ``bin/supervisord``
# Run: ``bin/supervisorctl --help``
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${users:supervisor-admin}
password = ${passwords:supervisor-admin}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    10 nginx                        ${nginx-build:location}/sbin/nginx true
    20 varnish                      ${varnish-build:location}/sbin/varnishd [-F -s ${varnish-options:storage} -f ${buildout:directory}/etc/varnish.vcl -a :${ports:varnish} ${varnish-options:tuning}] true
    30 haproxy                      ${buildout:directory}/bin/haproxy       [-f ${buildout:directory}/etc/haproxy.conf] true ${users:haproxy}
#   40 instance-${site1:sitename}   ${site1:zope-location}/bin/instance  [console] true ${users:zope-process}
#   40 instance-${site2:sitename}   ${site2:zope-location}/bin/instance  [console] true ${users:zope-process}
#   40 instance-${site3:sitename}   ${site3:zope-location}/bin/instance  [console] true ${users:zope-process}
#    40 instance-${site4:sitename}   ${site4:zope-location}/bin/instance  [console] true ${users:zope-process}
#    50 instance-${site5:sitename}   ${site5:zope-location}/bin/instance  [console] true ${users:zope-process}
#    50 instance-${site6:sitename}   ${site6:zope-location}/bin/instance  [console] true ${users:zope-process}
#    50 instance-${site7:sitename}   ${site7:zope-location}/bin/instance  [console] true ${users:zope-process}
    50 instance-${site8:sitename}   ${site8:zope-location}/bin/instance  [console] true ${users:zope-process}
#    60 instance-${site9:sitename}   ${site9:zope-location}/bin/instance  [console] true ${users:zope-process}
#    60 instance-${site10:sitename}  ${site10:zope-location}/bin/instance [console] true ${users:zope-process}
#    60 instance-${site11:sitename}  ${site11:zope-location}/bin/instance [console] true ${users:zope-process}
#    60 instance-${site12:sitename}  ${site12:zope-location}/bin/instance [console] true ${users:zope-process}
#    60 instance-${site13:sitename}  ${site13:zope-location}/bin/instance [console] true ${users:zope-process}
#    60 instance-${site14:sitename}  ${site14:zope-location}/bin/instance [console] true ${users:zope-process}
#    60 instance-${site15:sitename}  ${site15:zope-location}/bin/instance [console] true ${users:zope-process}
#    60 instance-${site16:sitename}  ${site16:zope-location}/bin/instance [console] true ${users:zope-process}
