# Hosted sites
# ============

[buildout]
site5-parts =
    site5-configuration
    site5-redirects

[site5]
sitename = example5
servername = example5.tld

#
# Instance settings
#
zope-port = 8405
# Instance name is set to global site name per default
zope-instance = ${:sitename}
zope-location = /opt/sites/${:sitename}/buildout.${:sitename}
# Static resources
static-resources = ${:zope-location}/src/${:sitename}.sitetheme/${:sitename}/sitetheme/resources/dist


[site5-configuration]
recipe = collective.recipe.template
input = ${locations:templates}/site5/site5.conf
output = ${locations:config}/site5.conf

[site5-redirects]
recipe = collective.recipe.template
input = ${locations:templates}/site5/site5_redirects.conf
output = ${locations:config}/site5_redirects.conf
